/*/// icon color 89BED9 //*/


.container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 180px 6fr 3fr;
  grid-template-rows: 70px 150px 500px 850px;
  grid-template-areas: "nav search search" "nav box3 box3" "nav box4 box4" "nav box5 box6"
}

.nav-bar-container{
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 6fr;
  box-sizing: border-box;
  min-width: 155px;
}

h3{
  font-size: 14px;
  color: #89BED9;
    margin-left: 25px;
  margin-top: 3px;
}

h4{
  margin-bottom: 5px;
  font-size: 15px;
}

.box1 {
  /*grid-row: 1 / span 4;*/
  background-color: #2F4858;
  grid-area: nav;
}

.boxa{
  margin: auto;
}
.boxa h3:hover{
  color: cyan;
}

.bowtie-image{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-top: 10px;
  border: 0;
}
.boxb{
    border-top: 1px solid black;
}

ul img{
  height: 1em;
}
.box1 ul h3:hover{
  color: #DAF7DC;
}

.mainh3{
  margin-bottom: -5px;
  margin-left: 0px;
}

ul{
  list-style: none;
  text-align: left;
  padding-left: 20px;
}

li{
  display: inline-block;
  margin-top: -15px;
}
li h3{
  margin-left: 10px;
}

.boxb1{
  margin-bottom: 5px;
}
.boxb2{}
.boxb3{}
.boxb4{}
.boxb5{}

.boxc{
    border-top: 1px solid black;
}

.boxccontianer{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.boxd{
    border-top: 1px solid black;
}
.boxdcontianer{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.categoriesboxd{
  padding-top: 15px;
  margin-left: 15px;
}
.yellow-box {
  user-select: none;
  
}
.yellow-box .square {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #f6ff02;
  margin-left: 15px;
  margin-top: 10px;
  box-sizing: border-box;
}

.yellow-box input[type="checkbox"] {
  display: none;
}

.yellow-box input:checked + .square {
  background-color: #ffdd01;
  border: 1px solid black;
}




label h3{
  display: inline;
  margin-left: 5px;
  padding-bottom: 3px;
  font-size: 12px;
}

.blue-box {
  user-select: none;
  
}

.blue-box .square {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #4f5df7;
  margin-left: 15px;
  margin-top: 10px;
  box-sizing: border-box;
}

.blue-box input[type="checkbox"] {
  display: none;
}

.blue-box input:checked + .square {
  background-color: #1425e2;
  border: 1px solid black;
  
}

.red-box {
  user-select: none;
  
}

.red-box .square {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #e04343;
  margin-left: 15px;
  margin-top: 10px;
  box-sizing: border-box;
}

.red-box input[type="checkbox"] {
  display: none;
}

.red-box input:checked + .square {
  background-color: #fc0000;
  border: 1px solid black;
}
.green-box {
  user-select: none;
  
}

.green-box .square {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #2ecc31;
  margin-left: 15px;
  margin-top: 10px;
  box-sizing: border-box;
}

.green-box input[type="checkbox"] {
  display: none;
}

.green-box input:checked + .square {
  background-color: #037f06;
  border: 1px solid black;
}


.box2 {
  background-color: #ffffff;
  /*grid-column: 2 / -1;*/
  grid-area: search;

}

.search-bar-container{
  display: grid;
  grid-template-columns: 70px 1fr 70px 70px 70px;
}
.search-bar-container img{
  height: 34px;
  width: 34px;
  justify-content: center;
  padding-right: 18px;
  padding-left: 18px;
  margin-top: 18px;
  margin-bottom: 18px;



}
.search-box1{
  border: 1px solid gainsboro;
  margin-left: auto;
  margin-right: auto;
}

.search-box1:hover{
  background-color: #DAF7DC;
}

.search-box2{
  margin-right: auto;
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-box3{
  border: 1px solid gainsboro;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.search-box3:hover{
  background-color: #DAF7DC;
}

.search-box4{
  border: 1px solid gainsboro;
  margin-left: auto;
  margin-right: auto;
}

.search-box4:hover{
  background-color: #DAF7DC;
}

.search-box5{
  border: 1px solid gainsboro;
  margin-left: auto;
  margin-right: auto;
}

.search-box5:hover{
  background-color: #DAF7DC;
}

.box3 {
  background-color: #FFFFFF;
  border: 1px solid black;
  /*grid-column: 2 / -1;*/
    grid-area: box3;
}

.box3container{
  display: grid;
  grid-template-rows: 2fr 1fr;
}
.box3acontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

.box3a button{
  place-self: center;
  background-color: #FFFFFF;
  border-radius: 50%; 
}

.box3a img{
  height: 20px;
  width: 20px;
}

.box3a2{
  min-width: 100px;
}

.box3b{
}
.box3bcontainer{
  display: grid;
  grid-template-columns: repeat(14,minmax(50px,100px));
}
.box4 {
  background-color: #d3dded;
  grid-area: box4;
}

.box4 button{
  place-self: center normal;
}

.box4container{
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: 1fr 4fr 2fr 1fr;

}

.box4a{
  background-color: #d3dded;

}

.box4b{
  grid-row: 2;
  background-color: #d3dded;

}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 3s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: lawngreen;
}

.circular-chart.green .circle {
  stroke: red;
}

.circular-chart.blue .circle {
  stroke: cyan;
}

.percentage {
  fill: #403;
  font-family: Serif;
  font-size: 10px;
  text-anchor: middle;
}

.box4c{
  background-color: #d3dded;
  grid-row: 3;
  place-self: center;

}
.box4d{
  height: 40px;

}
.box4e{
  grid-row: 2;
  background-color: #d3dded;
}
.box4e img{
  height: 90%;
  width: 90%;
}

.box4f{
  grid-row: 3;
  place-self: center;
}

.box4g{
  grid-row: 4;
  grid-column: 1 / span 2;
  height: 40px;
  border: 5px solid black;


}
.box5 {
  background-color: #d3dded;
 /* grid-row: 4 / span 2;*/
  grid-area: box5;

}

.box5container{
  display: grid;
  grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 30px;
  min-height: 500px;
  min-width: 400px;

}

.box5zcontainer{
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}
.box5z1{
  background-color: #FFFFFF;
}

.box5z3{
  background-color: #FFFFFF;
}

.box5a{
  background-color: #336699;
  place-self: center auto;

}
.box5a h2{
  padding-right: 10px;
  color: #72ABD4;
  font-size: 20px;
}
.box5a img{
  height: 20px;
}

.box5b{
  background-color: #FFFFFF 
}

.box5bcontainer{
  border-bottom: 1px solid gainsboro;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "box5b1 box5b1 box5b2 box5b2 box5b2";
}

.box5b1{
  grid-area: box5b1;
  place-self: center start;
  padding-left: 10px;
}

.box5b2{
  grid-area: box5b2;
  place-self: center start;
}

.box5c{
  background-color: #FFFFFF
}

.box5ccontainer{
  display: grid;
  border-bottom: 1px solid gainsboro;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "box5c1 box5c1 box5c2 box5c2 box5c2";
}

.box5c1{
  grid-area: box5c1;
  place-self: center start;
    padding-left: 10px;


}
.box5c2{
  grid-area: box5c2;
  place-self: center start;

}

.box5d{
  background-color: #FFFFFF
}

.box5dcontainer{
  display: grid;
  border-bottom: 1px solid gainsboro;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "box5d1 box5d1 box5d2 box5d2 box5d2";
}

.box5d1{
 grid-area: box5d1;
  place-self: center start;
    padding-left: 10px;


}

.box5d2{
grid-area: box5d2;
  place-self: center start;
}

.box5e{
  background-color: #FFFFFF 
}

.box5econtainer{
  display: grid;
  border-bottom: 1px solid gainsboro;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "box5e1 box5e1 box5e2 box5e2 box5e2";
}

.box5e1{
grid-area: box5e1;
  place-self: center start;
    padding-left: 10px;

}

.box5e2{
grid-area: box5e2;
  place-self: center start;
}

.box5f{
  background-color: #FFFFFF
}

.box5fcontainer{
  display: grid;
  border-bottom: 1px solid gainsboro;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "box5f1 box5f1 box5f2 box5f2 box5f2";
}

.box5f1{
grid-area: box5f1;
  place-self: center start;
    padding-left: 10px;

}

.box5f2{
  grid-area: box5f2;
  place-self: center start;
}

.box5g{
  background-color: #FFFFFF 
}

.box5gcontainer{
  display: grid;
  border-bottom: 1px solid gainsboro;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "box5g1 box5g1 box5g2 box5g2 box5g2";
}

.box5g1{
grid-area: box5g1;
  place-self: center start;
    padding-left: 10px;

}

.box5g2{
  grid-area: box5g2;
  place-self: center start;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;

}

.box5h{
  background-color: #FFFFFF  
}

.box5hcontainer{
  display: grid;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid gainsboro;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "box5h1 box5h1 box5h1 box5h3 box5h2 box5h2 box5h2";
}

.box5hcontainer img{
  height: 50px;
  border-radius: 50%;
  place-self: center start;
  margin-left: -20px;
  margin-top: 5px;
}

.box5h1{
grid-area: box5h1;
  place-self: center start;
    padding-left: 10px;

}

.box5h2{
grid-area: box5h2;
  place-self: center start;
  margin-left: -20px;
}

.boc5h3{
  grid-area: box5h3;
  place-self: center start;
}

.box5i{
  background-color: #FFFFFF 
}

.box5icontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "box5i1 box5i1 box5i2 box5i2 box5i2";
}

.box5i1{
 grid-area: box5i1;
  place-self: center start;
    padding-left: 10px;

}

.box5i2{
 grid-area: box5i2;
  place-self: center start;
}

.box6 {
  background-color: #d3dded;
  grid-area: box6;
  min-width: 400px;
  max-width: 100%

}


.box6a{
}

.box6container{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.box6acontainer{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.social-media{
   min-width: 280px;
  max-width: 280px;
  padding:5px 20px 10px 20px;
  margin-top: 10px;
  border: 1px solid black;
  height: 25px;
  font-size: 15px;
  place-self: center auto;

}

.social-media ul{
  display: inline-block;
  margin: 0px;
}
.social-media ul h3{
  padding-top: 20px;
  color: #2F4858 ;
  max-width: 200px;
}

.social1{
  background-color: #4a6dc1;
}
.social2{
  background-color: #01aaef;  
}
.social3{
  background-color: #DCD6F7;  
}

.box6b{
  padding-left: 10px;
}
.box6bcontainer{
  border-bottom: 2px solid grey;
  margin-right: 10px;

}

.box6b h4{
  margin-top: -10px;
}
.box6 button{
  border-radius: 0px;
  border: none;
  height: 48px;
  width: 50px;
  background-color: #47b9ba;
  color: #FFFFFF;
  margin-left: 0px;
}

.box6 input{
  margin-right: none;
  height: 40px;
  width: 200px;
  margin-bottom: 20px;
}


.box6c{
  padding-left: 10px;
}

.box6d{
  height: 100%;
   padding-left: 10px;
}

.box6d input{
  place-self: center start;
}



@media screen and (max-width: 500px) {
  .container{
    display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(200px, auto);
  grid-template-areas: "." "search" "box3" "box4" "box5" "box6";
  }
  .nav-bar-container{
    display: none;
  }

  .box5container{
    grid-template-rows: minmax(80px,100px);
  }
  .box5a{
    height: 1fr;
  }



  

  

